/*____________________________________________|  Normalize Styles  |____________________________________________*/

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: var(--color-main);
}


/*____________________________________________|  Variables  |____________________________________________*/

:root {
    --color-box-fav:  #f5f5f5;
    --color-timer-active: #606060;
    --color-fav-active: #dd0031;
    --color-fav-disabled: #ec7d96;
    --color-news-title:  #6b6b6b;
    --color-text-faint:  #767676;
    --color-hover: #eaeaea;
    --color-menu-active: #1797ff;
    --color-menu-disabled: #d6d6d6;
    --color-border: #979797;
}


body {
    background-color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
}

svg {
    stroke: currentcolor; 
    fill: currentcolor;
}




