header {
    padding: 2.5em 15%;
    background: linear-gradient(to bottom, #ececec -32%, #fff 124%);
    box-shadow: 0 1px 5px 0 rgba(0, 21, 41, 0.12);
    margin-bottom: 4em;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 3.5em;
}

.menu {
    display: flex;
    padding: 0 15%;
    font-weight: 400;
}

.menu li {
    list-style: none;
    min-width: 6.3em;
    display: block;
    font-size: .95em;
    text-align: center;
    padding: .5em 1.5em;
    border-radius: .15em;
    border: solid 1px var(--color-menu-disabled);
    color: var(--color-timer-active);
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.menu li:hover {
    border: solid 1px var(--color-menu-active);
    color: var(--color-menu-active);
}


.active {
    border: solid 1px var(--color-menu-active) !important;
    color: var(--color-menu-active) !important;
}


/*------------------------------------------------------------------*/


.arrow-down svg {
    width: .8em;
    position: absolute;
    right: 1em;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.box-news {
    font-size: .9em;
    max-width: 18em;
	position: relative;
    margin-bottom: 2em;
    border: .1em solid var(--color-border);
    border-radius: .4em;
    color: var(--color-news-title);
    font-weight: 500;
    cursor: pointer;
    background-color: #fff;
}

.news-select {
    display: flex;
    align-items: center;
    padding: .7em 0 .7em 1.3em;
}

.news-select span {
    text-transform: capitalize;
}

.box-news ul {
	width: 100%;
    display: none;
	cursor: pointer;
    padding: .2em 0;
    color: var(--color-news-title);
    background-color: #fff;
    box-shadow: 0 2px 2px 0 #dad8d8;
	/* border: .001em solid var(--color-border); */
    border-radius: .3em;
    position: absolute;
    z-index: 1;
    left: 0;
    transition: all 0.25s ease;
}

.box-news li {
    list-style: none;
    padding: .7em 1.3em;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.box-news li:hover {
    background-color: var(--color-box-fav);
}

.box-news img, .news-select img {
    max-width: 1.5em;
    display: block;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-right: .8em;
}

.display-picker {
    display: inline-block !important;
    transform: translateY(1em);
}

.box-paginate {
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
}

.pages {
    display: flex;
    justify-content: center;
    padding: 0 .7em;
}

.pages span, .arrow-left, .arrow-right {
    aspect-ratio: 1/1;
    color: var(--color-timer-active);
    width: 2.4em;
    font-size: 1em;
    border: .1em solid var(--color-menu-disabled);
    border-radius: .5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
}

.pages span:not(:last-child) {
    margin-right: .7em;
}

.arrow-left:hover, .arrow-right:hover {
    background-color:  #eaeaea;
}

.arrow-left svg, .arrow-right svg {
    width: .75em;
    color: var(--color-timer-active);
}


.page:hover {
    border: .1em solid var(--color-menu-active);
    background-color: var(--color-menu-active);
    color: #fff;
}


.page-active {
    border: .1em solid var(--color-menu-active) !important;
    background-color: var(--color-menu-active) !important;
    color: #fff !important;
}





 
