.card {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-radius: .4em;
    border: solid 1px var(--color-grey-4);
    background-color: #fff;
    overflow: hidden;
    max-height: 5.7em;
}

.card:hover {
    opacity: 0.5;
}

.card a {
    width: 85%;
    display: block;
}

.news-content {
    min-height: 5em;
    padding: 1em 1.3em 1em 1.5em;
}

.news-content h2 {
    font-size: .85em;
    font-weight: 500;
    color: var(--color-grey-6);
}

.box-favorite {
    width: 15%;
    background-color: var(--color-grey-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite svg {
    font-size: 1.7em;
    color: var(--color-red-1);
    cursor: pointer;
}

.timer {
    font-size: .725em;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: .7em;
    color: var(--color-grey-5);
}

.timer strong {
    margin-left: .4em;
}

.timer svg {
    font-size: 1.5em;
    color: var(--color-grey-7);
    margin-right: .4em;
}


.alert {
    min-height: 50vh;
    color: var(--color-grey-6);
    background-color: #fff;
    border-radius: .5em;
    border: 1px solid var(--color-grey-4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
}

.alert h1 {
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 1.7em;
    text-align: center;
    padding: 0 2em;
}

.alert h2 {
    font-size: 1.1em;
    text-align: center;
}


.alert a {
    font-weight: normal;
    padding: .75em 1.25em;
    border-radius: .5em;
    border: 1px solid var(--color-grey-4);
}


.alert h2:hover a {
    color: var(--color-blue-1);
    border: 1px solid var(--color-blue-1);
}


