
.card {
    display: grid;
    grid-template-columns: 87% 13%;
    border-radius: .4em;
    border: solid 1px var(--color-border);
    background-color: #fff;
    overflow: hidden;
}

.card a {
    display: flex;
    align-items: center;
}

.news-content {
    width: 100%;
    min-height: 5em;
    padding: 1em 1em 1em 1.5em;
}

.news-content h2 {
    font-size: .85em;
    font-weight: 500;
    color: var(--color-news-title);
}

.box-favorite {
    background-color: var(--color-box-fav);
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite svg {
    width: 1.65em;
    color: var(--color-fav-active);
    cursor: pointer;
}



.timer {
    font-size: .7em;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: .7em;
    color: var(--color-text-faint);
}

.timer strong {
    margin-left: .4em;
}

.timer svg {
    width: 1.3em;
    color: var(--color-timer-active);
    margin-right: .7em;
}