
/*____________________________________________|  Paginate  |____________________________________________*/


.box-paginate {
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
}

.pages {
    display: flex;
    justify-content: center;
    padding: 0 .7em;
}

.pages span, .arrow-left, .arrow-right {
    aspect-ratio: 1/1;
    color: var(--color-timer-active);
    width: 2.4em;
    font-size: 1em;
    border: .1em solid var(--color-menu-disabled);
    border-radius: .5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    user-select: none;
}

.pages span:not(:last-child) {
    margin-right: .7em;
}

.arrow-left:hover, .arrow-right:hover {
    background-color:  #eaeaea;
}

.arrow-left svg, .arrow-right svg {
    width: .75em;
    color: var(--color-timer-active);
}


.page:hover {
    border: .1em solid var(--color-menu-active);
    background-color: var(--color-menu-active);
    color: #fff;
}


.page-active {
    border: .1em solid var(--color-menu-active) !important;
    background-color: var(--color-menu-active) !important;
    color: #fff !important;
}


