
/*__________________________________| Screen up to 1400px width |__________________________________*/

@media screen and (max-width: 1400px) {
    body { font-size: 14px; }

}


/*__________________________________| Screen up to 1024px width |__________________________________*/

@media screen and (max-width: 1024px) {
    body { font-size: 13px; }

}


/*__________________________________| Screen up to 900px width |__________________________________*/

@media screen and (max-width: 900px) {
    body { font-size: 12px; }

    .news-content {
        min-height: 6em;
    }
}


/*__________________________________| Screen up to 767px width |__________________________________*/

@media screen and (max-width: 767px) {
    body { font-size: 11px; }

    .card a {
        width: 80%;
    }
    
    .box-favorite {
        width: 20%;
    }
    
    .grid-news {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .menu {
        font-size: 1.3em;
    }

    .box-news {
        font-size: 1.1em;
    }

    .news-content {
        font-size: 1.1em;
    }

}


/*__________________________________| Screen up to 480px width |__________________________________*/

@media screen and (max-width: 480px) {
    body { font-size: 10px; }

    .card {
        max-height: 7em;
    }

}


/*__________________________________| Screen up to 320px width |__________________________________*/
    
@media screen and (max-width: 320px) {
    body { font-size: 8px; }
     
    
}