.section-news {
    margin: 0 15%;
}

.grid-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    row-gap: 1.5em;
    column-gap: 2em;
}

.box-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}